.title {
  @apply text-gold text-4xl font-bold text-center mt-8 pb-2;
}

.box {
  @apply border-dashed border-2 border-wine100 p-4 rounded-lg;
}

.box_text {
  @apply text-sm font-normal text-justify text-gold;
}

.box_name {
  @apply text-sm font-normal mt-6 text-right text-gold-gradient mr-6;
}

.containerWithBg::before {
  content: '';
  background-image: url('@/assets/logo_short.png');
  background-size: cover;
  background-position: center;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
